@font-face {  
    font-family: 'Myriad Pro';
    src: url('../font/MyriadPro-Regular.woff2') format('woff2'),
        url('../font/MyriadPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.new-font{   
    font-family: 'Myriad Pro';
}
.global-form{
    width: 1100px;
    margin: 0 auto; 
}
.position-centr{  
    padding-left: 70px; 
    padding-right: 70px;
}

.border-bottom{   
    padding-bottom:40px;
    border-bottom: 4px dotted #cccccc;
}

.header { 
    display:flex; 
    flex-direction:row; 
    background-color: #333333;
    padding-top: 30px;
    padding-bottom:30px;
}
.header-text{
    flex:3; 
    color: #eeeeee;
    font-size: 60px;
    margin: 0px;  
}

.menu{ 
    color: #eeeeee;
    font-size: 16px; 
}
.nav-gor{
    display:flex; 
    flex-direction:row; 
    padding-bottom: 12px;
    align-items: flex-end;
}
.menu-item{
    list-style: none; 
    display:flex; 
    flex-direction: row;
    vertical-align: bottom;     
    text-align: left;   
}
.href-discription{
    color: #eeeeee;    
    text-decoration: none;   
    text-align: left;   
    vertical-align: bottom;
}
.href-discription:hover{
    color: #00aeef;
}
.menu-item:after{
    content:" -- "; 
    color:#eeeeee; 
    margin:0 11px;
}
.menu-item:last-child:after{
    content:none;
}

.featured-content-main-title{
    color:#333333;
    font-size: 60px;
    font-weight: bold;
    padding-top: 60px;
    padding-bottom: 10px;
}
.ampersant{
    color:#00bff3;
}
.featured-content-alt-title{
    font-size: 50px;
    color: #bbbbbb;
}
.featured-content-text{
    font-size: 34px;
    line-height: 42px;
    color: #555555;
    padding-top: 35px;
}
.important-text{
    font-weight: bold;
}

.services{
    display: flex; 
    justify-content: space-between;
    color:white;
    padding-top: 42px;
}
.services-form{   
    width: 280px;
    min-height: 350px;
    background-color: #00aeef; 
    box-shadow: 6px 6px 10px #c7c7c7; 
}
.invite-form{
    padding: 34px 23px;
}
.serv-title{
    font-size: 40px;    
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 24px;
    border-bottom: 2px dotted white;
}
.serv-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.5em; 
    text-align: center;
    padding-top: 27px;
    padding-bottom: 33px;
}
.blue-btn{ 
    display: block;
    border:2px solid #195c74;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    width: 228px;
    height:40px ;
    background-color: #0076a3;    
    text-align: center;
}
.text-on-btn{
    text-transform:uppercase;
    margin:  10px;
}
.text-on-btn:after{
    content: ">>";
}

.bottom-content {
    display: flex;
    flex-direction: row;
    margin-top:36px;
}
.client-testimonials, .f-proj{
    min-width:475px;
}
.client-testimonials {
    display: flex;
    flex-direction: column;
    border-right:  4px dotted #cccccc;
}

.square{
    min-width:84px;
    min-height:84px;
    background-color: #cccccc;  
}
.text-col{
    display: flex;
    flex-direction: column;    
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color:#555555;
}
.testimonial{
    display: flex;
    flex-direction: row;    
}
.testimonial:nth-child(2){   
    margin-top:30px;
}
.testimonial:nth-child(3){   
    margin-top:33px;
}
.testimonial:nth-child(4){  
    margin-top:38px;
}
.text-col{
    padding-left: 27px;
}

.fullname{
    font-weight: bold;
    color:#555555;
    line-height: 18px;
    margin-top: 6px;
}
.position{  
    font-weight: normal;
    color:#00aeef;  
	line-height: 18px;
    text-decoration: none;
}
.title-client-test{
    font-size: 24px;
}

.f-proj{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color:#555555;
    padding-left: 40px;
}
.title-proj{
    font-size: 24px;
}
.sesquialteral-lines{ 
    line-height: 1.5em; 
}
.name-prog{
    font-size: 20px;
    color: #888888;
    margin-top: 24px;
    margin-bottom: 13px;
}
.details-link{
    color:#00aeef;
    margin-top: 10px;
}
.image-yoshi-theme{
    border:1px solid #cccccc;
    margin-bottom: 20px;
}

.footer{
    font-family: Arial, Helvetica, sans-serif;
    color:#888888;
    font-size: 16px;
    margin-top: 19px;
}